outputs/
*.bin
*.sh
.DS_Store


# Byte-compiled
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.installed.cfg
MANIFEST

# Datasets
data/Dataset/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# VSCode project settings
.vscode/

# Pycharm
.idea/

# Tests
test/

# experiments
experiments/